@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

*{
    font-family: "Plus Jakarta Sans", sans-serif;
}

@media (max-width: 1440px){
    .home{
        padding: 20px;
    }
    .slide{
        overflow-x: auto;
        white-space: nowrap;
    }
    .i-slide{
        display: inline-block;
    }
    
    .parkir{
        width: "170px";
    }
    .hid{
        gap: 90px;
    }
    .ij{
        width: 160px;
        height: 224px;
    }
    .img-konten{
        width: 160px;
        height: 224px;
    }
    .doc{
        width: 142px !important;
        height: 214px !important;
    }
    .mg{
        width: 300px;
    }
    .tas{
        gap: 70px;
    }
    .upload-input{
       width: 160px;
        height: 224px;
    }
}

@media(max-width:320px ){
    .hid{
        gap: 70px;
    }
    .img-konten{
        width: 132px;
        height: 196px;
    }
    .tas{
        gap: 40px;
    }
}