@media (max-width: 1440px){
    .home{
        padding: 20px;
    }
    .slide{
        overflow-x: auto;
        white-space: nowrap;
    }
    .i-slide{
        display: inline-block;
    }
    .navbar {
        z-index: 1;
    }
    .parkir{
        width: "170px";
    }
    .hid{
        gap: 90px;
    }
    .ij{
        width: 160px;
        height: 224px;
    }
    .img-konten{
        width: 160px;
        height: 224px;
    }
    .doc{
        width: 142px !important;
        height: 214px !important;
    }
    .mg{
        width: 300px;
    }
    .tas{
        gap: 70px;
    }
    .upload-input{
       width: 160px;
        height: 224px;
    }
}

@media(max-width:320px ){
    /* .navbar{
        width: 320px;
    }
    .parkir{
        width: 50px;
    }
    .tk{
        width: 135px !important;
    }
    .ft{
      left: 0;
      width: 100%;
      padding-top: 0px !important;
      margin-top: 0px;
      padding-bottom:2.1vh;
    }
    .sc{
        margin-top: -15px !important;
        width: 45px;
        margin-left: 1px;
    }
    .ho{
       width: 40px !important; 
    } */
    .hid{
        gap: 70px;
    }
    .img-konten{
        width: 132px;
        height: 196px;
    }
    /* .ij{
        width: 132px;
        height: 214px;
        padding: 5vh;
    }
    .doc{
        width: 132px !important;
        height: 204px !important;
        padding: 5vh;
    }
    .ktp{
        gap: 15px !important;
    }
    .mg{
        width: 250px;
    } */
    .tas{
        gap: 40px;
    }
}